numpy >= 1.9.0
scipy < 1.8.0
scikit-learn >= 0.18.0
bayesian-optimization
matplotlib
jsonpickle
topas2numpy
sphinx
recommonmark
sphinx_markdown_tables
pytest
coverage
pytest-cov
sphinx_rtd_theme
interrogate
